<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karantina&family=Lato:ital,wght@1,300&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <img src="Logo" alt="">
            <ul class="tablaMenuPrincipal">
                <li><a href="../index.html">Logo</a></li>
                <li><a href="./OfertaDelMes.html">Oferta del mes</a></li>
                <li><a href="./MasVendidos.html">Mas Vendidos</a></li>
                <li><a href="./EncuentraTuFunko.html">Encuentra tu funko</a></li>
                <img src="lupa" alt="">
            </ul>
        </nav>
    </header>
    <section>
        <h1 class="tituloContacto">Estoy en Contacto</h1>


        <h2>Llena el formulario y nos contactamos contigo a la brevedad posible</h2>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <label for="Nombre">Nombre: </label>
                    <input type="text" name="Nombre">
                </div>
                <div class="col col-lg-2">
                    <label for="Apellido">Apellido: </label>
                    <input type="text" name="Apellido">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Correo">Correo: </label>
                    <input type="text" name="Correo">
                </div>
                <div class="col-md-auto">
                    Variable width content
                </div>
                <div class="col col-lg-2">
                    <form>
                        <div>Desea recibir el Newsletter?
                            <input type="checkbox" name="acepta" value="1" />
                        </div>
                    </form>
                    <div class="col col-lg-2"></div>
                    <form>
                        <h3>Deja tus comentarios :) :</h3>
                        <textarea name="comment" cols="30" rows="10">
                    </textarea>
                    </form>
                </div>
            </div>
            
            <img class=".tablaConatcto" src="../Img/Funko-Pop-Vinyl-CineMedios.png" alt="">

        <input type="reset" value="Limpiar Formulario">
        <input type="submit" value="Enviar">
        </div>

        



    </section>
    <footer>
        <ul class="tabladeBackgraound">
            <img src="Facebook" alt="">
            <img src="Instagram" alt="">
            <li> <a href="./Contacto.html">Contacto</a></li>
            <li> <a href="./Ubicacion.html">Ubicacion</a></li>
            <img src="Maps" alt="">
        </ul>
    </footer>

</body>

</html>